header{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{
background:#ececec;
}


.navbar{
background:#08192f;
color:white;
margin:15px;
border-radius:25px;
padding:12px 25px;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img{
width: 50px;
height: 50px;
border-radius:5px;
}

nav{
display:flex;
gap:40px;
}

nav a{
color:white;
text-decoration:none;
}

.panel-card{
border:none;
border-radius:20px;
padding:20px;
}

.titulo-filtro{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.item-menu{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px;
border-radius:12px;
cursor:pointer;
margin-bottom:8px;
}

.item-menu:hover{
background:#eef3ff;
}

.activo{
background:#eef3ff;
font-weight:600;
}

.preferencia{
display:flex;
justify-content:space-between;
align-items:center;
padding:12px 0;
}

.cabecera{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.leer-todas{
text-decoration:none;
font-weight:600;
}

.notificacion{
display:flex;
justify-content:space-between;
align-items:flex-start;
padding:18px;
border-radius:15px;
margin-bottom:10px;
transition:.3s;
}

.notificacion:hover{
background:#f8f9ff;
}

.notificacion.nueva{
background:#eef3ff;
}

.info-notificacion{
display:flex;
gap:15px;
}

.icono{
width:50px;
height:50px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:20px;
}

.icono.verde{
background:#dff4e6;
color:#22a55f;
}

.icono.morado{
background:#eee3ff;
color:#8f52ff;
}

.icono.naranja{
background:#fff0dd;
color:#f39c12;
}

.icono.rojo{
background:#ffe3e3;
color:#ff4b4b;
}

.hora{
font-weight:600;
}

.punto{
width:10px;
height:10px;
background:#0d6efd;
border-radius:50%;
display:inline-block;
margin-left:10px;
}

.perfil-card{
border:none;
border-radius:20px;
overflow:hidden;
text-align:center;
padding-bottom:20px;
}

.perfil-header{
height:65px;
background:#d9d9d9;
}

.avatar{
width:100px;
height:100px;
border-radius:50%;
background:#c7c7c7;
margin:-40px auto 15px;
border:5px solid white;
}

.disponible{
color:#20a45b;
font-weight:600;
}

.tips{
display:flex;
gap:15px;
margin-top:20px;
}

.icon-tips{
width:40px;
height:40px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
}

.azul{
background:#e7efff;
color:#2f6ce5;
}

.morado{
background:#f0e3ff;
color:#8e44ec;
}

.verde{
background:#dff7ea;
color:#22a55f;
}
